# required configuration
name=snowman
signer=i2p-user-default-plugin@mail.i2p
# key and version are also required, they are added by the build script

# all is optional below here

# This will be added to the console summary bar

consoleLinkName=Snowman
# _xx for language xx
consoleLinkName_de=Schneemann
consoleLinkURL=/snowman/index.html
consoleLinkTooltip=long description
console-icon=snowman-icon.png
# _xx for language xx
#consoleLinkTooltip_xx=long description

# required for automatic updates

updateURL=http://stats.i2p/i2p/plugins/snowman.xpi2p
updateURL.su3=http://stats.i2p/i2p/plugins/snowman.su3

# displayed on configclients.jsp

websiteURL=http://zzz.i2p/forums/16
description=Plugin test
# _xx for language xx
description_de=Deutsch Plugin test
license=Public Domain
author=zzz
# Java time (ms since epoch)
date=123456789000

# Used by the installer. If any of these conditions fail, the install will fail.

# I2P only runs on 1.5 or higher, so you only need to set this if you need 1.6 or higher
#min-java-version=1.6
#min-installed-version=0.3
#max-installed-version=0.8
# plugins only supported as of 0.7.12, so you only need to set this if you need 0.7.13 or higher
#min-i2p-version=0.7.13
#max-i2p-version=0.7.19
# plugins only supported as of 0.7.12 which contains jetty 5.1.15, so you only need to set this if you need 5.1.16 or higher
#min-jetty-version=5.1.16
# default false, set if a previous installation must be present
#update-only=true
# default false, set if a previous installation must not be present
#install-only=true
# default false
#dont-start-at-install=true
# default false
#router-restart-required=true

# for translate bundle plugins only
#langs=2-letter-language,2-letter-countryflag,Language,...
#langs=xx,xy,Klingon
