#
# This classpath is only for the specific war
#
# The following jars in $I2P/lib should be in the classpath for all I2P installations,
# no matter how old or how new:
#
# i2p.jar, router.jar, jbigi.jar, sam.jar, mstreaming.jar, streaming.jar, i2ptunnel.jar,
# org.mortbay.jetty.jar, javax.servlet.jar, jasper-compiler.jar, jasper-runtime.jar,
# commons-logging.jar, commons-el.jar, wrapper.jar, systray.jar, systray4j.jar
#
# Anything not listed above may not be present in everybody's classpath, even if you
# have it installed in YOUR version of i2p, so you should add it below.
#
#webapps.mywarname.classpath=$I2P/lib/foo.jar,$PLUGIN/lib/bar.jar,$CONFIG/plugins/otherplugin/lib/baz.jar
